#masage1{
    background-color: burlywood;
    height:400px;
    width: 529px;
    margin-top: 124px;
    margin-left: -4px
}
#quadrado{
    background-color: rgb(238, 238, 228);
    border: solid 1px;
    height: 400px;
    width: 100px;
    margin-top: 10px;
}
#caixa_msg{
    margin-left: 125px;
    margin-top: -390px;
   
}
#viu{
    margin-top: 320px;
    margin-left: 103px;
    width: 425px;
    height: 50px;
    background-color: darkgray;
}
.l_msg{
   /* background-color: aqua;*/
    margin-top: 50px;
    margin-left: 90px;
    font-size: 20px;
   
}
#testo1{
    background-color: rgb(245, 242, 239);
    color: black;
    border-radius: 5px;
    
    width: 140px;
}
#foto_msg{
    background-color: rgb(137, 10, 187);
    height: 60px;
    width: 60px;
    margin-top:3px;
    margin-left:3px;
    border-radius: 30px;

    background-position: center;
    background-size: cover;
    background-image: url('https://scontent.ffor28-1.fna.fbcdn.net/v/t39.30808-6/294008271_358744459749214_3882484726730132069_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=9D59AZjKdOUAX-UJYcE&_nc_oc=AQnr_7gao70mc4nJmQX6sxk40e8G14O1dJ7XZBSz7ttzMAB6crModP3ors9iwxANrEg8ilvtgIqyZm91YtFHAIFY&_nc_ht=scontent.ffor28-1.fna&oh=00_AfDm0S8NyIqBq0xgRy2Aw3ry6sOmA3KoihjHrpV5JfJdUw&oe=63C02CF4');
}
#lane{
    width: 50px;
    text-align: center;
    border-radius: 3px;
    margin-top: 6px;
    margin-left: 9px;
    color: rgb(18, 23, 24);
}