#masage1{
    background-color: burlywood;
    height:400px;
    width: 529px;
    margin-top: 124px;
    margin-left: -4px
}
#quadrado{
    background-color: rgb(238, 238, 228);
    border: solid 1px;
    height: 400px;
    width: 100px;
    margin-top: 10px;
}
#caixa_msg{
    margin-left: 125px;
    margin-top: -390px;
   /*background-color: lime;*/
   width: 380px;
}
#msg{
   /* background-color: red;*/
    width: 380px;
    height: 320px;
   
    
}
li {
    list-style-type: none;
}
#viu{
    margin-top: 3px;
    margin-left: 103px;
    width: 425px;
    height: 50px;
    background-color: darkgray;
}
.l_msg{
    /*background-color: aqua;*/
    margin-top: 50px;
    margin-left: 90px;
    font-size: 20px;
   
}
#testo1{
    background-color: rgb(245, 242, 239);
    color: black;
    border-radius: 5px;
    
    width: 140px;
}
#foto_msg{
    background-color: rgb(137, 10, 187);
    height: 60px;
    width: 60px;
    margin-top:3px;
    margin-left:3px;
    border-radius: 30px;

    background-position: center;
    background-size: cover;
    background-image: url('/foto/258763062_576876326734584_4102132421659271278_n\(1\).jpg');
}
#lane{
    width: 50px;
    text-align: center;
    border-radius: 3px;
    margin-top: 6px;
    margin-left: 9px;
    color: rgb(18, 23, 24);
}
