
.titulo{
    /*background-color: darkgrey;*/
     color: beige;
     margin-top: 90px;
    text-align: center ;
    font-size: 20px;
     width: 200px;
     height: 45px;
     border-radius: 20px;
}
#pesquisar{
   /*background-color: #a52a3f;*/
    text-align: center;
    border-radius: 30px;
    width: 115px;
    border: 0mm;
}
/**/

table{
    width: 695px;
}
.contenia{
   /*background-color: black;*/
    width: 695px;
    margin-left: -6px;
}
/*grafico*/
#lp{ 
    background-color: rgb(191, 191, 194);
    /*border: 1px solid black; */
    margin-top: -315px;
    margin-left: 690px;
    height: 482px;
    width: 644px;
    text-align: left -182px;
}
#ps{
background-color: #f0ecf5;
border-radius: 5px;
margin-top: -150px;
margin-left: 692px;
width: 40px;
text-align: center;

}
#ps1{
    background-color: #f0ecf5;
    border-radius: 5px;
   margin-top: -20px;
    margin-left: 1212px;
    width: 40px;
    text-align: center;
}
#ps:hover{
    background-color: dimgray;
    cursor: pointer;
}
#ps1:hover{
    background-color: dimgray;
    cursor: pointer;
}
/*video*/
#if{
    background-color: #632AA5;
 /*  margin-top: 20px;*/
  /* margin-left: 46px;*/
   margin-top: -210px;
   margin-left: 689px;
   height: 482px;
   width: 621px;
   border: rgb(19, 16, 16);
}
#disponivel{
    margin: 5px;
    
}
.cs{
    background-color: aqua;
    border: 1px solid rgb(22, 24, 23); 
    margin-left: -5px;
    margin-top: -166px;
    height: 180px;
    width: 324px;
}
#cs{
  margin-left: 5px;
  font-size: medium;
}
.ms{
    background-color: blueviolet;
    border: 1px solid black;
    width: 201px;
    height: 180px;
    margin-top: -182px;
    margin-left: 321px;
}
.cx{
    background-color: rgb(7, 163, 20);
    border: 1px solid black;
    width: 90px;
    height: 57px;
    margin-top: -182px;
    margin-left: 525px;
}
.total{
    background-color: rgb(8, 10, 12);
    border: 1px solid black;
    width: 68px;
    height: 57px;
    margin-top: -59px;
    margin-left: 618px;
}  
.table, th, td {
    border:1px solid black;
    text-align: center;
   
}
.data{
    background-color: dimgray;
}
.pl{
    background-color: rgb(236, 224, 53);
} 
.qld{
    background-color: rgb(55, 0, 255);
}
.dive{
    background-color: brown;
}
.rs{
   background-color: darkgreen;
}
.dy{
    background-color: darkgoldenrod;
}
.vl{
  background-color: darkred;
}
.fi{
    background-color: chartreuse;
}
input{
    width: 50px;
    
    
}
#mynome{
    width: 100px;
}
#bt1{
    background-color: rgb(200, 255, 0);
    border-radius: 20px;
    padding: 9px;
    margin-top: 5px;
    margin-left: 640px;
}
#bts{
    background-color: rgb(253, 253, 253);
    border: #eee;
    width: 40px;
    cursor: pointer;
}
#btss{
   background-color:green;
    width: 40px;
    cursor: pointer;
}
#btss:hover{
    background-color: #632AA5;
    
}

#dividendo{
    margin-left: .50rem;
    margin-top: .50rem;
}
.valo-dv{
    margin-top: -20px;
    margin-left: 140px;
    width: 40px;
    height: auto;
    background-color: aliceblue;
    text-align: center;
    height: 20px;
     
}
#ano{
    margin-left: .50rem;
    margin-top: .50rem;
}
#ano1{
    margin-top: -20px;
    margin-left: 140px;
    width: 40px;
    height: auto;
    background-color: aliceblue;
    text-align: center;
}
#total{
    margin-left: 68px;
    margin-top: .50rem;
    font-size: 20px;
}
#final{
    margin-top: -20px;
    margin-left: 140px;
    width: 40px;
    height: auto;
    background-color: aliceblue;
    text-align: center;
   
}
footer{
    background-color:#632AA5 ;
    margin-top: 1px;
    margin-left: -4px;
  padding: 40px;
  width: 1258px;
}
.dt1{
    margin-left: 90px;
}
#caixa{
  /*background-color: #632AA5;*/
  width: 3px;
  margin-left: 80px;
}
#caixad{
    /*background-color: #632AA5;*/
    width: 3px;
    margin-left: 45px;
}
#soma_totau{
    color: rgb(15, 238, 15);
    margin-top: 5px;
    text-align: center;
    margin-left: 6px;
    
}
#menos_soma{
    color: rgb(255, 5, 5);
    margin-top: 6px;
    margin-left: 6px;
    text-align: center;
   
}
